[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
uwsgi = "*"
djangorestframework = "*"
djangorestframework-camel-case = "*"
django-cors-headers = "*"
python-dateutil = "*"

[requires]
python_version = "3.8"
